/*****styling for adminPanel Side bar********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

html
{
    font-size:100%;
}
:root {
    --color: white;
    user-select: none;
}
/* universal operator  for all selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header styling... */
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #222d32; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
   
}
header {
    width: 100%;
    position: relative;
}

    header .toggle {
        position: fixed;
        top: 18px;
        left: 250px;
        transition: all .3s;
        cursor: pointer;
        z-index:5;
    }

        header .toggle i {
            color: var(--color);
            position: relative;
        }

    header .navBg {
        background: #3c8dbc;
        width: 100%;
        display: flex;
        position:sticky;
        top:0;
        left:0;
        justify-content: flex-start;
        align-items: center;
        height: 8vh;
        z-index:4;
      
    }

        header .navBg .navBar_logo img {
            width: 110px;
            margin: 0px 35px;
        }

        header .navBg .someIcon {
            display: flex;
            position: absolute;
            top: 15px;
            right: 30px;
        }

            header .navBg .someIcon a {
                border-radius: 50%;
                padding: 3px;
                margin: 0 4px;
                width: 30px;
                text-align: center;
            }

                header .navBg .someIcon a i {
                    color: var(--color);
                }

/* styling leftSideBar... */
.sideBarDashboard {
    display: flex;
    justify-content: start;
}

    .sideBarDashboard .leftSideBar {
        width: 300px;
        height: 92vh;
        background: white;
        /*display:flex;*/
        position: sticky;
        top: 60px;
        z-index: 11;
        overflow-y: scroll;
        transition: all .3s cubic-bezier(.17,.67,.83,.67);
    }
    /*scrollbar design*/
        .sideBarDashboard .leftSideBar::-webkit-scrollbar {
            width: 6px;  
        }

        .sideBarDashboard .leftSideBar::-webkit-scrollbar-track {
            background: #adaaaa;
        }

        .sideBarDashboard .leftSideBar::-webkit-scrollbar-thumb {
            background-color: gray;  
            border-radius: 20px;  
        }


        .sideBarDashboard .leftSideBar .menuIcons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

            .sideBarDashboard .leftSideBar .menuIcons .sideBarIcons {
                width: 80px;
                text-align: center;
                display: none;
            }

                .sideBarDashboard .leftSideBar .menuIcons .sideBarIcons a {
                    display: block;
                    padding: 16px 8px;
                }

                    .sideBarDashboard .leftSideBar .menuIcons .sideBarIcons a:hover {
                        background-color: #576574;
                    }

                    .sideBarDashboard .leftSideBar .menuIcons .sideBarIcons a i {
                        color: #000;
                        font-size: 18px;
                    }

        .sideBarDashboard .leftSideBar .navBar {
            list-style: none;
            text-align: left;
            width: auto;
            overflow:hidden;
            white-space:nowrap;
        }

            .sideBarDashboard .leftSideBar .navBar li {
                line-height: 50px;
                letter-spacing: 1px;
      
                position: relative;
                cursor: pointer;
                transition: all .4s ease-in;
            }

                .sideBarDashboard .leftSideBar .navBar li:hover {
                    background-color: #e4e7ea;
                }

                .sideBarDashboard .leftSideBar .navBar li .icon {
                    padding: 0 8px;
                }

                .sideBarDashboard .leftSideBar .navBar li a {
                    text-decoration: none;
                    color: #270b0b;
                    font-family: 'Roboto', sans-serif;
                    padding: 17px 220px 17px 0px;
                    /*g: 16px 138px 17px 0px;
                    background:red;*/
                }

                    .sideBarDashboard .leftSideBar .navBar li a .rytArrowBtn {
                        position: absolute;
                        right: 8px;
                        top: 25px;
                        transition: 0.8s;
                    }

        .sideBarDashboard .leftSideBar .submenu {
            transition: all 1s linear;
        }

            .sideBarDashboard .leftSideBar .submenu li {
                list-style: none;
                /*padding: 0px 30px;*/
                transition: 0.8s;
                background:white;
                

            }

.borderTop {
    border-top: 1px solid white;
}



@media(max-width: 600px) {
    header .toggle {
        top: 20px;
        left: 150px;
    }

    header .navBg .someIcon {
        top: 18px;
    }
}

@media(max-width:768px) {
    .sideBarDashboard .leftSideBar .navBar {
        display: none;
    }

    .sideBarDashboard .leftSideBar .menuIcons .sideBarIcons {
        display: block;
    }

    .sideBarDashboard .leftSideBar {
        width: 84px;
    }

}
@media(max-width:992px){
    .checkBox-style{margin-top:4px !important; margin-bottom:5px;}
}

