@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<style>
    .card {
         left : 19px;
          top: -20px;
          background:#3c8dbc;
          z-index:10;
    }
    </style>
@* bgDanger Header For StateView *@
<header>
    <div class="row p-1 mr-0">
        <div class="col-md-6 col-6">
            <span><b>Country</b></span>
        </div>
        <div class="col-md-6 col-6 text-right">
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>
</header>
<div class="AddBtn d-flex justify-content-end mr-5 my-4">
    <button type="button" id="btn_AddCountry" class="btn btn-primary px-3">Add</button>
</div>


        @*<p>
            <a class="position-relative text-decoration-none text-black-50" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i></a>
        </p>
        <div class="row">
            <div class="col-sm-4 position-absolute">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body p-0" style="width:80px">
                        <a href="#" class="text-center text-white text-decoration-none">Edit</a>
                   
                        <a href="#" class=" text-white text-center text-decoration-none"style="border-top: 1px solid white;">Delete</a>
                    </div>
                </div>
            </div>
        </div>*@


<div class="container-fluid" style="margin-top:50px;">
    <table id="grd_Country" class="table table-bordered table-striped" style="width:100%">
        <thead class="table-head-design" style="width:100%">
            <tr>
                <th>Country</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Add Country Modal -->
<div class="modal  fade" id="addCountryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Country</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update country Modal-->
<div class="modal fade" id="modal_UpdateCountry" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Country</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div>

            </div>
        </div>
    </div>
</div>

<script>
    function onAddOperation(e) {
        alert(e);
        alert("test3");
    }
    function Onfails() {
        alert('request fails');
    }
</script>
@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="@Url.Content("~/Scripts/View js/Admin/Country/List.js")" type="text/javascript"></script>
