@{
	ViewBag.Title = "AddFair";
	Layout = "~/Views/Shared/BT_Layout.cshtml";
}

<style>

	.btnDesign {
		border: none;
		outline: none;
		color: #000;
		padding: 8px;
		width: 100%;
		border-radius: 10px;
		transition: all .5s ease-in;
		/* margin-top:15px; */
		margin-left: 5px;
		/* margin-bottom:33.50px; */
	}

		.btnDesign:hover {
			background: rgba(60,141,188,.8);
		}

	.form-control {
		height: 25px !important;
		padding: 3px 12px !important;
		font-size: 11px !important;
		margin-top: 8px;
	}

	.mainRow {
		height: auto;
		padding: 30px 15px;
		padding-bottom: 84px;
	}

	#txtarea {
		width: 100%;
		height: 60px;
		overflow: hidden;
	}
</style>
@* bgDanger Header For AddFairView *@
<header>
	<div class="row p-3 mr-0">
		<div class="col-md-6 col-6">
			<span>Add Fairs</span>
		</div>
		<div class="col-md-6 col-6 text-right pr-5">
			<a href="#"><i class="fa fa-arrow-left"></i></a>
		</div>
	</div>
</header>

<!-- @* horiZental Form layout Starting One row with two column merge.... *@ -->
<form method="get">
	<div class="row mainRow m-0">
		<!-- @* First Column Starts *@ -->
		<div class="col-lg-4 col-md-12">
			<div class="form-group row">
				<label for="code"
					   class="col-sm-5 col-form-label">District</label>
				<div class="col-sm-7">
					<select class="form-control" id="code">
						<option>Select District</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="code" class="col-sm-5 col-form-label">
					Zip
					Code
				</label>
				<div class="col-sm-7">
					<input type="number" class="form-control" id="code" name="code">
				</div>
			</div>

			<div class="form-group row">
				<label for="code" class="col-sm-5 col-form-label">
					Stop
					Name
				</label>
				<div class="col-sm-7">
					<select class="form-control" id="code">
						<option>Stop Name</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>


			<!-- <div class="col-sm-12 d-flex justify-content-center align-items-end" style="margin-top:110px;">
				<img src="../images/1.jpg" alt="..." class="img-thumbnail">
			</div> -->
		</div>

		<!-- Second Column -->
		<div class="col-lg-4">
			<div class="form-group row">
				<label for="code" class="col-sm-5 col-form-label">City</label>
				<div class="col-sm-7">
					<select class="form-control" id="code">
						<option>Select City</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="code" class="col-sm-5 col-form-label">
					Number
					of
				</label>
				<div class="col-sm-7">
					<textarea name="" id="txtarea">


                                                </textarea>
				</div>
			</div>



			<div class="col-sm-12 text-right my-5 ml-4">
				<button class="btn btn-danger">save</button>
				<button class="btn btn-danger">clear</button>
			</div>

		</div>
		<!-- @* Third Column Starts *@ -->
		<div class="col-lg-3  px-0 pb-5 ml-5" style="border:1px solid black; border-radius:10px">
			<h5 class="pt-3 text-center">Amount</h5>
			<hr style="background:black;">
			<div class="form-group">
				<label for="fName" class="col-sm-12 col-form-label my-2">
					Fair
					Code
				</label>
				<div class="col-sm-12 mb-4">
					<input type="number" class="form-control" id="fName" name="fName">
				</div>
			</div>
			<div class="form-group">
				<label for="fName" class="col-sm-12 col-form-label  my-2">
					Fair
					Code
				</label>
				<div class="col-sm-12 mb-4">
					<input type="number" class="form-control" id="fName" name="fName">
				</div>
			</div>
			<div class="form-group">
				<label for="fName" class="col-sm-12 col-form-label  my-2">
					Fair
					Code
				</label>
				<div class="col-sm-12 mb-4">
					<input type="number" class="form-control" id="fName" name="fName">
				</div>
			</div>




			<div class="col-sm-12">
				<br />
				<button type="submit" style="width:100%;" class="btnDesign">Save</button>
				<br /> <br />
				<button type="submit" style="width:100%;" class="btnDesign">Clear</button>
			</div>

			<!-- @* CUSTOM BUTTON DESIGN *@ -->
		</div>
	</div>
</form>           