
@{
    ViewBag.Title = "AddPermission";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}
<style>

    .btnDesign {
        border: none;
        outline: none;
        color: #000;
        padding: 8px;
        width: 100%;
        border-radius: 10px;
        transition: all .5s ease-in;
        /* margin-top:15px; */
        margin-left: 5px;
        /* margin-bottom:33.50px; */
    }

        .btnDesign:hover {
            background: rgba(60,141,188,.8);
        }

    .form-control {
        height: 25px !important;
        padding: 3px 12px !important;
        font-size: 11px !important;
        margin-top: 8px;
        border: 0;
    }

    .mainRow {
        height: auto;
        padding: 30px 15px;
        padding-bottom: 84px;
    }

    #txtarea {
        width: 100%;
        height: 60px;
        overflow: hidden;
    }

    .btn2 {
        background: #3c8dbc;
        /*text-shadow: -50px 0px 10px white,-50px 0px 10px white;*/
        outline: none;
        border: none;
        width:100px;
        margin: 0 5px;
        border-radius: 8px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
</style>
@* bgDanger Header For AddFairView *@
<header>
    <div class="row p-3 mr-0">
        <div class="col-md-6 col-6">
            <span>College Permission</span>
        </div>
        <div class="col-md-6 col-6 text-right pr-5">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
</header>

<!-- @* horiZental Form layout Starting One row with two column merge.... *@ -->
<form method="get">
    <div class="row mainRow m-0">
        <!-- @* First Column Starts *@ -->
        <div class="col-lg-6 col-md-12">
            <div class="form-group row">
                <label for="College" class="col-sm-4 col-form-label p-0 p-sm-3">College</label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="College" readonly disabled />
            </div>

            <div class="form-group row">
                <label for="code" class="col-sm-4 col-form-labe  p-0 p-sm-3">
                    Code
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="Code" readonly disabled />
            </div>

            <div class="form-group row">
                <label for="Address" class="col-sm-4 col-form-label  p-0 p-sm-3">
                    Address
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="Address" readonly disabled />
            </div>

            <div class="form-group row">
                <label for="city" class="col-sm-4 col-form-label  p-0 p-sm-3">
                    City
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="city" readonly disabled />
            </div>

            <div class="form-group row">
                <label for="state" class="col-sm-4 col-form-label  p-0 p-sm-3">
                    State
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="state" readonly disabled />
            </div>
        </div>

        <!-- Second Column -->
        <div class="col-lg-6">
            <div class="form-group row">
                <label for="Nos" class="col-sm-4 col-form-label  p-0 p-sm-3">Number of Students</label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="Nos" readonly disabled />
            </div>
            <div class="form-group row">
                <label for="branches" class="col-sm-4 col-form-label  p-0 p-sm-3">
                    Branches
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="branches" readonly disabled />
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label  p-0 p-sm-3">
                    Phone
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="phone" readonly disabled />
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label  p-0 p-sm-3">
                   Email 
                </label>
                <input type="text" class="col-sm-5 offset-sm-2 col-form-label form-control" id="email" readonly disabled />

            </div>
        </div>
        <!-- @* Third Column Starts *@ -->
    <div class="col-lg-12 div-shadow mt-5">
        <h4 class="font-weight-bolder">Director Detail</h4>
        <hr style="background:#000; margin-top:7px;" />

        <div class="form-group row px-4 px-md-0">
            <label for="director" class="col-md-2 col-form-label my-2 px-md-4 px-0">
                Director
            </label>
            <input class="col-md-3 form-control" type="text" id="director" readonly disabled />
            <label for="adress" class="col-md-2 offset-md-1 col-form-label my-2 px-md-4 px-0">
                Address
            </label>
            <input class="col-md-3  form-control" type="text" id="address" readonly disabled />
        </div>

        <div class="form-group row px-4 px-md-0">
            <label for="city" class="col-md-2 col-form-label my-2 px-md-4 px-0">
                City
            </label>
            <input class="col-md-3 form-control" type="text" id="city" readonly disabled />
            <label for="gender" class="col-md-2 offset-md-1 col-form-label my-2 px-md-4 px-0">
                Gender
            </label>
            <input class="col-md-3  form-control" type="text" id="gender" readonly disabled />
        </div>

        <div class="form-group row px-4 px-md-0">
            <label for="contactNo" class="col-md-2 col-form-label my-2 px-md-4 px-0">
                Contact No
            </label>
            <input class="col-md-3 form-control" type="text" id="contactNo" readonly disabled />
            <label for="email" class="col-md-2 offset-md-1 col-form-label my-2 px-md-4 px-0">
                Email
            </label>
            <input class="col-md-3  form-control" type="text" id="email" readonly disabled />
        </div>
    </div>


        <div class="col-md-12 text-right mt-4">
            <button class="btn  btn2 my-2">save</button>
            <button class="btn btn2 my-2">reject</button>
            <button class="btn btn2 my-2">cancel</button>
        </div>


    </div>
</form>           