<div>
    <div class="AddBtn d-flex justify-content-end mb-1 mr-lg-5">
        <button type="button" class="btn btn-primary px-3" id="btn_AddOperator">Add</button>
    </div>

    <div class="container table-responsive">
        <table id="grd_OperatorList" class="table table-bordered table-striped" style="width:100%">
            <thead class="table-head-bg" style="width:100%;">
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Designation</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
        <tbody>

        </tbody>
        </table>
    </div>
</div>
