/*This is common container theme applied on shared bt_layout*/
.container-theme {
    background: #e9ecef;
}
.container-theme header {
    box-shadow: 0 1px 8px grey;
    background: #e9ecef;
    color: gray;
    font-size: 1.30rem;
    font-weight: 400;

}
/*Similar Box-shadow class*/
.div-shadow{
    box-shadow: 0 1px 8px grey;
    border-radius:10px;
}
.form-control {
		height: 25px !important;
		padding: 3px 12px !important;
		font-size: 11px !important;
        /*margin-top: 8px;*/
}
/*Jquery Data Table Edit*/
.dataTables_scrollHead {
    height: 40px;
}
.dataTables_scrollBody {
    height: 50vh !important;
}
.dataTables_scrollHeadInner,.no-footer{
    width:100% !important;
    box-sizing:border-box !important;
}
.odd {
    background: #deecec !important;
}
/*#example_filter{
    margin-left: 5px;
    border: none !important;
    outline: none;
    border-radius: 4px;
}*/
.table-head-bg {
    background: #3c8dbc;
    color: white;
}
.table thead th {
    vertical-align: top !important;
}
.table-bordered td {
    padding: 8px !important;
}
.table-bordered td>a{
    text-decoration:none !important;
    color:#000 !important;
} 
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100% !important;
    }
}
/*Datatable closed*/
    /*POP-POP Design*/
    .modal-pop-bg {
    padding: 0.5rem 1rem !important;
    background: #3c8dbc;
    color:#fff !important;
}
.modal-pop-bg .close {
    color: #fff !important;
    outline: none;
}
.btn-primary {
    background: #3c8dbc !important;
    border-color: #3c8dbc !important;
    padding:2px  10px !important;
}
.btn-group{
    height:0px;
    vertical-align:top !important;
}
.btn-group>#dropdownMenu1 {
        padding: 0 !important;
    }
.dropdown-menu {
    min-width: 5rem !important;
    background: #3c8dbc !important;
    left: 1px !important;
    top: 15px !important;
    color: white !important;
    padding: 0px !important;
    /* padding-left: 0px !important; */
    font-size: 0.8rem !important;
}
.dropdown-menu>li:nth-child(1){
    border-bottom:1px solid #fff;
}
.dropdown-menu>li>a:nth-child(1){
    outline:none;
}
/*Media query for index page cards*/
@media(max-width:768px) {
    .cardBody {
        padding: 35px 0;
    }}

/*media query for block size button*/ 
@media(max-width:768px) {
    .btn2 {
        display: block;
        width: 100% !important;
        margin: 25px 0;
    }
}
    /*.btn2 {
        background: #3c8dbc !important;
        outline: none;
        border: none;
        width: 100px;
        margin: 0 5px;
        border-radius: 8px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #fff !important;
    }*/