
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}

<style>
     textarea {
        width: 100%;
        height: 50px;
        overflow: hidden;
        border-radius:5px;

    }
</style>

<header>
    <div class="row p-3 mr-0">
        <div class="col-md-6 col-6">
            <span><b>User</b></span>
        </div>
        <div class="col-md-6 col-6 text-right pr-5">
            <a href="#"><i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
</header>

<form method="get" class="mt-5">
    <div class="row mainRow mx-4">
        <div class="col-xl-7 my-lg-0 my-5 ">
            <div class="row div-shadow">
                <div class="col-12">
                    <h4 class="font-weight-bolder my-4">Personal Detail</h4>
                </div>
                    <div class="col-lg-12 col-xl-6">
                        <div class="form-group row">
                            <label for="fname" class="col-sm-5 col-form-label">First Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="fname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-5 col-form-label">Last Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="lname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="code" class="col-sm-5 col-form-label">Code</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" id="code">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="country" class="col-sm-5 col-form-label">Country</label>
                            <div class="col-sm-7">
                                <select id="country" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-6">
                        <div class="form-group row">
                            <label for="inputState" class="col-sm-5 col-form-label">State</label>
                            <div class="col-sm-7">
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-5 col-form-label">City</label>
                            <div class="col-sm-7">
                                <select id="inputCity" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDistrict" class="col-sm-5 col-form-label">District</label>
                            <div class="col-sm-7">
                                <select id="inputDistrict" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGender" class="col-sm-5 col-form-label">Gender</label>
                            <div class="form-check mt-1">
                                &nbsp;&nbsp;&nbsp; <input class="form-check-input mt-2" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Male</label>
                            </div>
                            <div class="form-check mt-1">
                                &nbsp;&nbsp;&nbsp;  <input class="form-check-input mt-2" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
                                <label class="form-check-label" for="exampleRadios2">Female</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 mt-5">
                    <div class="form-group row">
                        <label for="address1" class="col-lg-6 col-md-4 col-sm-4 col-form-label">
                            Address1
                        </label>
                        <div class="col-lg-6 col-md-8 col-sm-8">
                            <textarea name="" id="address1">  </textarea>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div class="form-group row">
                        <label for="address2" class="col-lg-6 col-md-4 col-sm-4 col-form-label">
                            Address2
                        </label>
                        <div class="col-lg-6 col-md-8 col-sm-8">
                            <textarea name="" id="address2">  </textarea>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div class="form-group row">
                        <label for="address3" class="col-lg-6 col-md-4 col-sm-4 col-form-label">
                            Address3
                        </label>
                        <div class="col-lg-6 col-md-8 col-sm-8">
                            <textarea name="address3" id="address3">  </textarea>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 text-right my-3 mr-4">
                    <input class="form-check-input" type="checkbox" name="Activecheck" id="Activecheck" checked>
                    <label class="form-check-label" for="Activecheck">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Active</label>
                </div>

            </div>
     
 

        <div class="col-xl-4 offset-xl-1 div-shadow">
            <div class="row">
                <h4 class="font-weight-bolder mx-4 my-4">Other Details</h4>
            </div>
            <div class="form-group row mt-0 mb-xl-5">
                <label for="Role" class="col-sm-5 col-form-label">Role</label>
                <div class="col-sm-7">
                    <select id="Role" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-xl-5">
                <label for="mobile" class="col-sm-5 col-form-label">Mobile</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="mobile">
                </div>
            </div>
            <div class="form-group row mb-xl-5">
                <label for="email" class="col-sm-5 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group row mb-xl-5">
                <label for="Designation" class="col-sm-5 col-form-label">Designation</label>
                <div class="col-sm-7">
                    <select id="Designation" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-xl-5">
                <label for="office-dist" class="col-sm-5 col-form-label">Office District</label>
                <div class="col-sm-7">
                    <select id="office-dist" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-xl-5">
                <label for="office-city" class="col-sm-5 col-form-label">Office City</label>
                <div class="col-sm-7">
                    <select id="office-city" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right mt-4 pl-0">
            <button class="btn  btn2 my-2">save</button>
            <button class="btn btn2 my-2">reject</button>
            <button class="btn btn2 my-2">cancel</button>
        </div>

    </div>
</form>

