
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}
<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>



@* bgDanger Header For StateView *@
<header>
    <div class="row p-1 mr-0">
        <div class="col-md-6 col-6">
            <span><b>User</b></span>
        </div>
        <div class="col-md-6 col-6 text-right">
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>
</header>
<div class="AddBtn d-flex justify-content-end mr-5 my-4">
    <a href="@Url.Action("Add","User",new { Area="Admin"})" type="button" class="btn btn-primary px-3">Add</a>
</div>


<script>
	$(document).ready(function () {
		$('#example').DataTable({
			'paging': false,
			'scrollY': '450px',
			'searching': true,
			'autoWidth': true,
			'scrollCollapse': true,
			'footerCallback': false
		});
	});
</script>
<div class="container-fluid mt-5">
    <table id="example" class="table table-bordered table-striped" style="width:100%">
        <thead class="table-head-bg">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>





