@{ 
    Layout = "~/Views/Shared/_LayoutNew.cshtml" ;
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="panel panel-blue panel-collapse">
            <div class="panel-heading">
                <span>User</span>
                <div style="float:right">
                    <a href="#test" data-target="collapse" class="white-link pull-right"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div class="panel-body" style="padding:8px" id="test">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="panel panel-blue">
                            <div class="panel-body" id="test">
                                <h1 class="test">This is neeraj vadda veer mohali wala...senior developer</h1>
                                <button style="background-color:black; width:120px; height:40px; border-radius:15px; border:none">Save</button>
                                <input type="submit" value="submit" class="btn btn-danger"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

    </div>
