@{
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
        });
    });

</script>

<style>
    tr {
        height: 5px
    } 
    
</style>





<div class="col-md-12 col-sm-12">
        <table id="myTable" class="display table-bordered" style="margin-top:0px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Avtar</td>
                    <td>Sunam</td>
                </tr>
            </tbody>
        </table>
</div>