
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}
@* bgDanger Header For City *@
<header>
    <div class="row p-1 mr-0">
        <div class="col-md-6 col-6">
            <span><b>City</b></span>
        </div>
        <div class="col-md-6 col-6 text-right">
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>
</header>

<div class="AddBtn d-flex justify-content-end mr-5 my-4">
    <button type="button" id="btn_AddCity" class="btn btn-primary px-3">Add</button>
</div>

<div class="container table-responsive">
    <table id="grd_City" class="table table-bordered table-striped" style="width:100%">
        <thead class="table-head-bg" style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>District</th>
                <th>State</th>
                <th>Country</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="modal_AddCity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-pop-bg">
                <h5 class="modal-title">Add City</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_UpdateCity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-pop-bg">
                <h5 class="modal-title">Update City</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/View js/Admin/City/CityList.js")"></script>
