@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}


<div class="container-fluid">
    <div class="col-md-6 col-sm-6"><h4>List</h4></div>
    <div class="col-md-6 col-sm-6">
    <a class="btn btn-primary pull-right" href="@Url.Action("Create","College",new { Area="College" })">Add New</a>
    
    </div>
</div>
