@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/BT_Layout.cshtml";
}

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<header>

    <div class="row p-1 mr-0">
        <div class="col-md-12">
            <span><b>List</b></span>
        </div>
    </div>
</header>

<div class="AddBtn d-flex justify-content-end mr-5 my-4">
    <button type="button" id="btn_AddDistrict" class="btn btn-primary px-3">Add</button>
</div>

<div class="container table-responsive">
    <table id="grd_District" class="table table-bordered table-striped" style="width:100%;">
        <thead class="table-head-bg" style="width:100%;">
            <tr>
                <th>District</th>
                <th>Code</th>
                <th>State</th>
                <th>Country</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="modal_AddDistrict" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-pop-bg">
                <h5 class="modal-title">Add District</h5>
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_UpdateDistrict" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-pop-bg">
                <h5 class="modal-title">Update District</h5>
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/View js/Admin/District/DistrictList.js")"></script>